<!DOCTYPE html>
<html>
<head>
	<title>Training Session Summary</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="js/scent-wheel-session-summary.js"></script>
</head>
<body onload="parseSession('<%= stats.session_string%>')">
	<h1>Training Session Summary</h1>  
	<%if (summary != null && stats != null) { %>
		<div class="session_stats panel panel-info">
	        <div class="panel-heading">
	            <h3 class="panel-title">Summary</h3>
	        </div>
	        <div class="panel-body">
				Dog: <%= summary.dog%> <br>
				Date: <%= summary.date%> <br>
				Time: <%= summary.time%> <br>
				Handler: <%= summary.handler%> <br>
				Sample Number: <%= summary.sample_num%> <br>
				Sample Usage Info: <%= summary.sample_info%> <br>
				Sample Time: <%= summary.sample_time%> <br>
				Can 1 Contents: <%= summary.can1_contents%> <br>
				Can 2 Contents: <%= summary.can2_contents%> <br>
				Can 3 Contents: <%= summary.can3_contents%> <br>
				Can 4 Contents: <%= summary.can4_contents%> <br>

			</div>
		</div>

		<div class="session_stats panel panel-primary">
	        <div class="panel-heading">
	            <h3 class="panel-title">Stats</h3>
	        </div>
	        <div id="stats" class="panel-body">
					Duration: <%= stats.duration%> <br>
	        </div>
	    </div>
		<%if (stats.notes != "") { %>
		    <div class="session_stats panel panel-warning">
		        <div class="panel-heading">
		            <h3 class="panel-title">Notes</h3>
		        </div>
		        <div class="panel-body">
					<%= stats.notes%> <br>
		        </div>
		    </div>
		<% } %>
	<% } else { %>
		<p> Error reading session. </p>
	<% } %>
<div class="nav button">
	<a href="/" class="btn btn-lg btn-primary">
		<i class="icon-white icon-arrow-left"></i>
		Main Menu
	</a>
</div>
</body>
</html>
