<!DOCTYPE html>
<html>
<head>
	<title>Training Session Summary</title>
</head>
<body>
	<h1>Training Session Summary</h1>  
	<%if (summary && stats) { %>
		<div> 
			Dog: <%= summary.dog%>
		</div>
		<div> 
			Date: <%= summary.date%>
		</div>
		<div> 
			Time: <%= summary.time%>
		</div>
		<div> 
			Location: <%= summary.location%>
		</div>
		<div> 
			Cansiter Location: <%= summary.canister%>
		</div>
		<div> 
			Handler: <%= summary.handler%>
		</div>
		<div> 
			Sample Number: <%= summary.sample_num%>
		</div>
		<div> 
			Sample Usage Information: <%= summary.sample_use%>
		</div>
		
		<p>
			<div> 
				- Session Stats - 
			</div>
			<div> 
				Length of Session: <%= stats.duration%>
			</div>
			<div> 
				Number of Trials: <%= stats.trials%>
			</div>
			<div> 
				Successes: <%= stats.success%>
			</div>
			<div> 
				Misses: <%= stats.miss%>
			</div>
			<div> 
				False Alerts: <%= stats.false_alert%>
			</div>
			<div> 
				Notes: <%= stats.notes%>
			</div>
		</p>
	<% } else { %>
		<div> Error reading session. </div>
	<% } %>
<div class="nav button">
	<a href="index.ejs">
		Back to Main Menu
	</a>
</div>
</body>
</html>
